@import "resources/sass/person/fonts"
@import "resources/sass/person/uikit"
@import "resources/sass/person/variables"

html, body
    margin: 0
    padding: 0
    font-family: $font-site
    font-size: 24px
    height: 100%

